
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}



body {
    text-shadow: 0 .00rem .0rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 0rem rgba(0, 0, 0, .5);
}


.nav-masthead .nav-link {
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.chat-box {
    position: fixed;
    right: 15px;
    bottom: 0;
    box-shadow: 0 0 0.1em #000;
}

.chat-closed {
    width: 250px;
    height: 35px;
    background: #8bc34a;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #777;
    color: #000;
}

.chat-header {
    width: 250px;
    height: 35px;
    background: #8bc34a;
    line-height: 33px;
    text-indent: 20px;
    border: 1px solid #777;
    border-bottom: none;
}

.chat-content {
    width: 250px;
    height: 300px;
    background: #ffffff;
    border: 1px solid #777;
    overflow-y: auto;
    word-wrap: break-word;
}

.box {
    width: 10px;
    height: 10px;
    background: green;
    float: left;
    position: relative;
    top: 11px;
    left: 10px;
    border: 1px solid #ededed;
}

.hide {
    display: none;
}

.dialogue {
    position: relative;
}
.text-box {
    position: absolute;
    bottom: 0;
}

.roulette {
    position: relative;
    left: 30px;
    bottom: 0;
    -webkit-transition: -webkit-transform 2s ease-out;
}